.ycNavbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  background: var(--color-gray-light);
  position: relative;
  box-sizing: border-box;
}

.ycNavbarLogo {
  display: flex;
  align-items: center;
}

.ycNavbarLogoImg {
  width: 150px;
  height: auto;
}

.ycNavbarCenterContact {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.ycNavbarCenterContactImg {
  width: 260px;
  height: auto;
}

.ycNavbarRightSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.ycNavbarDownloadIcon {
  width: 100px;
  height: 45px;
  cursor: pointer;
  transition: 0.2s ease;
}

.ycNavbarDownloadIcon:hover {
  opacity: 0.8;
}

.ycNavbarUserBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.ycNavbarUserAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ycNavbarUserAvatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(13, 128, 13);
}

.ycNavbarUserText {
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  color: black;
}