.hero-banner-wrapper{
  position:absolute;
  bottom:-92px;
  left:50%;
  transform:translateX(-50%);
  width:95%;
  background:var(--color-gray-light);
  border-radius:22px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:23px 69px;
  gap:40px;
  box-shadow:0 22px 53px rgba(0,0,0,0.2);
  z-index:5;
  background-color:#D9D9D9;
  color:#000;
}

.hero-banner-section{
  text-align:center;
  flex:1;
}

.hero-banner-section-title{
  font-size:31px;
  font-weight:700;
  margin-bottom:6px;
  color:#000;
}

.hero-banner-section-text{
  font-size:18px;
  color:#000;
}

.hero-banner-center-title{
  font-size:22px;
  font-weight:600;
  margin-bottom:8px;
  color:#000;
}

.hero-banner-stores{
  display:flex;
  justify-content:center;
  gap:19px;
}

.hero-banner-stores img{
  height:52px;
  width:auto;
}

.hero-banner-divider{
  width:1px;
  height:74px;
  background:#000000;
}